body{
background-color: #ffff80;
color: #724c27;
}

fieldset { 
display: block;
margin-left: 400px;
margin-right: 300px;
padding-top: 10px;
padding-bottom: 10x;
padding-left: 10px;
padding-right: 10px;
border-color:  #cc0000;
width: 70%;
margin: 0 auto;
}

legend{
font-weight: bold;
font-size: 200%;
}

.right{
margin-left: 100px;
margin-right: 400px;
margin-top: 30px;
}

.img{
max-width: 300%;
height: auto;
align: middle;}

.clear{
clear: right;}

#wrapper{
border-radius: 15px;
width:850px;
margin: 0 auto;
background-color: #FFFFFF
}

#center{
text-align: center;
{